
<div class="index-hero container-fluid">
  <div class="index-hero-center">
    <%= image_tag 'self-portraits/city-day.png', class: 'img-circle box-shadow fadeInUp animated', style: 'width:125px;height:125px;border:2px solid #eee;' %>
        <div class="heading animated fadeInUp">

            <h1 id="title-heading">JOHN STABLEFORD</h1>
            <h2>&nbsp;<span id="title-subheading"></span></h2>

            <div id="title-subheading-content" class="hidden">
              <p style="display:inline-block">

                <span class="css-typing"  style="display:inline-block;">Full Stack Web Developer.</span><span class="typed-cursor">|</span>
              </p>
              <p>Rails Developer. </p>
              <p>Front End Software Developer. </p>
              <p>Software Developer. </p>
              <p>Web Developer. </p>
              <p>Web Designer. </p>
            </div>


            <div style="margin-top:20px;">
              <a href="https://au.linkedin.com/in/johnstableford" target="_blank" class="btn btn-link btn-navbar" style="border:none;">
                <span class="fa fa-linkedin" style="font-size:1.5em;"></span>
              </a>
              <a href="mailto:john@stableford.com.au?Subject=Hey%20John" class="btn btn-link btn-navbar" style="border:none;">
                <span class="fa fa-envelope" style="font-size:1.5em;"></span>
              </a>
              <a href="#contact" class="btn btn-link btn-navbar" style="border:none;">
                <span class="fa fa-comment" style="font-size:1.5em;"></span>
              </a>


            </div>



        </div>
  </div>

  <div style="position:absolute;left:0%;right:0;bottom:10px;text-align:center;">
    <a href="#about" class="btn-navbar">
      <span class="btn btn-navbar btn-sm btn-transparent light-link">
        See More
      </span>
      <span style="display:block;">
        <span class="fa fa-chevron-down fa-lg"></span>
      </span>
    </a>
  </div>

</div>

<div class="index-content">
  <div class="about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

            <h2 class="underline">About Me</h2>

            <%= @markdown.render(@index_content["about"]).html_safe %>

          <div class="row badges">

            <br />
            <br />

            <div class="col-xs-6 col-sm-4 ">
              <div class="text-center">
                <div class="about-badge badge-info box-shadow-info animate-on-vis animated animate-delay-xs" data-animate-on-vis="bounce">
                  <div class="devicons devicons-ubuntu fa-3x text-info"></div>
                </div>
                <h3 class="text-info animate-on-vis animated" data-animate-on-vis="fadeInUp">Collaboration</h3>

              </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-sm-push-4 ">
              <div class="text-center">
                <div class="about-badge badge-muted box-shadow-muted animate-on-vis animated animate-delay-sm" data-animate-on-vis="bounce">
                  <div class="devicons devicons-android fa-3x text-muted"></div>
                </div>
                <h3 class="text-muted animate-on-vis animated" data-animate-on-vis="fadeInUp">Mobile First</h3>

              </div>
            </div>

            <div class="col-sm-4 col-sm-pull-4">
              <div class="text-center">
                <div style="margin-bottom:20px;">
                  <div class="about-badge badge-primary box-shadow-primary animate-on-vis animated animate-delay-md" data-animate-on-vis="bounce">
                    <div class="devicons devicons-html5 fa-4x text-primary"></div>
                  </div>
                  <h3 class="text-primary animate-on-vis animated hidden-initially" data-animate-on-vis="fadeInUp">Web Design</h3>
                </div>
              </div>
            </div>



          </div>

        </div>
        <div class="col-md-6">
          <div class="image-holder animate-on-vis animated " data-animate-on-vis="slideInUp">
          <%= image_tag "hero-bg-gray.png", class: "image-content slideInUp" %>

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="projects" id="projects">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div style="display:inline-block;">
            <h2 class="text-center underline">Projects I've worked on</h2>
          </div>

        </div>
      </div>

      <div class="row row-centered">

        <% @projects.map do |name, project| %>


          <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="project-card-flip <%= name %> animate-on-vis animated" data-animate-on-vis="pulse" ontouchend="this.classList.add('hover');">
              <div class="flipper">
                <a href="project/<%= name %>" class="front">
                  <!-- front content -->
                    <div class="project-title text-center">
                      <h3 class="" style="display:inline-block;">
                        <%= project["title"] %>
                      </h3>
                    </div>

                      <% image_tag 'birk-logo.png', style: "max-width:100%;max-height:30px;" %>
                </a>
                <div class="back">

                  <!-- back content -->
                  <div class="text-center">
                    <h3 class="underline" style="display:inline-block;"><%= project["title"] %></h3>
                  </div>
                  <%= @markdown.render(project['about']).html_safe %>

                <div class="read-more text-center">
                  <a href="project/<%= name %>" class="btn btn-transparent">read more</a>
                </div>
                <a class="flip-card-back btn btn-transparent fa fa-reply fa-2x"></a>

                </div>
              </div>
            </div>


          </div>

        <% end %>







      </div>


    </div>
  </div>




  <div class="skills-experience" id="skills-experience">

    <div class="visual-container">
      <svg viewBox="0 0 900 900" class="stroke-lines paralax">
        <!-- Pipe #1 (blue) -->
        <path class="middle" fill="none" stroke="#3E5871" stroke-width="10" stroke-linejoin="bevel" stroke-miterlimit="10"
          d="M450,-700L450,9500" />
        <path class="right" fill="none" stroke="#9BD5B3" stroke-width="10" stroke-linejoin="bevel" stroke-miterlimit="10"
          d="M465,-700L465,9500" />
        <path class="left" fill="none" stroke="#A1C4E0" stroke-width="10" stroke-linejoin="bevel" stroke-miterlimit="10"
          d="M435,-700L435,9500" />
        <!-- Pipe #2 (yellow) -->
      </svg>
    </div>




    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div style="display:inline-block;">
            <h2 class="text-center animated animate-on-vis underline  timeline-start" data-animate-on-vis="slideInDown">Skills & Experience</h2>
          </div>









        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="timeline">



            <% @timeline.each_with_index do |event, index| %>
              <%# if index.odd? timeline_horizontal = "timeline-left" else timeline_horizontal = "timeline-right" %>
              <%# end %>
              <div class="row">
                <div class="col-md-6 <%= !index.odd? || "col-md-push-6" %>">
                  <div class="timeline-row <%= index.odd? ? "timeline-right" : "timeline-left" %>">


                    <div style="" class="box-shadow-primary timeline-badge text-center">
                      <div class="text-muted fa <%= event["icon"] %> fa-3x animated animate-on-vis" data-animate-on-vis="<%= index.odd? ? "rotateInRight" : "rotateInLeft" %>"></div>
                      <div class="timeline-entry-date-alt box-shadow-primary animated animate-on-vis" data-animate-on-vis="<%= index.odd? ? "rotateInUpRight" : "rotateInUpLeft" %>">
                        <h2>

                        <small style="font-size:100%;"><%= event["time"]["start-month"] %></small>&nbsp;<%= event["time"]["start-year"] %><%if event["time"]["end-year"] %>&nbsp;-&nbsp;<% if event["time"]["end-month"] %><small style="font-size:100%;"><%= event["time"]["end-month"] %></small>&nbsp;<%end%><%= event["time"]["end-year"] %><%end%>
                        </h2>
                      </div>
                    </div>

                    <div class=" animated animate-on-vis" data-animate-on-vis="<%= index.odd? ? "bounce" : "bounce" %>">
                      <div class="timeline-entry-heading">
                        <h2><%= event["title"].html_safe   %></h2>
                      </div>
                      <div class="timeline-entry-date">
                        <h2>
                          <%= event["time"]["start-month"] %>&nbsp;
                          <%= event["time"]["start-year"] %>

                          <% if event["time"]["end-month"] or event["time"]["end-year"] %>
                            &nbsp;-
                          <%end%>

                          <% if event["time"]["end-month"] %>
                            &nbsp;
                            <%= event["time"]["end-month"] %>
                          <%end%>

                          <%if event["time"]["end-year"] %>
                            &nbsp;
                            <%= event["time"]["end-year"] %>
                          <%end%>

                        </h2>
                      </div>

                      <div class="timeline-entry">

                        <%= @markdown.render(event['content']).html_safe %>

                      </div>

                    </div>


                  </div>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-xs-12">

                <br />
                <br />
                <br />

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="connections" id="connections" style="display:none;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div style="display:inline-block;">
            <h2 class="text-center animate-on-vis underline fadeInDown">Connections</h2>
          </div>

        </div>
      </div>
      <div class="row">
        <div style="min-height:400px;"></div>
      </div>
    </div>
  </div>

  <div class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div style="display:inline-block;">
            <h2 class="text-center animate-on-vis underline fadeInDown">Contact Me</h2>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="contact-quote animated animate-on-vis" data-animate-on-vis="pulse">
              <div class="quote-box">
                <%= @markdown.render(@index_content["contact-message"]).html_safe %>
              </div>


              <%= image_tag 'self-portraits/city-day.png', class: 'img-circle box-shadow', style: 'width:125px;height:125px;border:2px solid #eee;' %>

              <div class="contact-button-holder">

                <a href="https://au.linkedin.com/in/johnstableford" target="_blank" class="btn box-shadow-primary contact-button animate-delay-xs animated animate-on-vis" data-animate-on-vis="bounce">
                  <span class="text-primary fa fa-linkedin fa-3x contact-button-logo"></span>
                </a>

                <a href="mailto:john@stableford.com.au?Subject=Hey%20John" class="btn box-shadow-primary contact-button animated animate-on-vis" data-animate-on-vis="bounce">
                  <span class="text-primary fa fa-envelope fa-3x contact-button-logo"></span>
                </a>

                <a href="#contact" onclick="$('#contact-form-name').focus();" ontouchstart="$('#contact-form-name').focus();" class="btn box-shadow-primary contact-button animate-delay-sm animated animate-on-vis" data-animate-on-vis="bounce">
                  <span class="text-primary fa fa-comment fa-3x contact-button-logo"></span>
                </a>


              </div>
          </div>
        </div>
        <div class="col-md-6">

          <form>


            <p class="text-danger">Sorry, contact form disabled.</p>
            <p class="text-primary">You can email me at <a href="mailto:john@stableford.com.au">john@stableford.com.au</a></p>
            <div class="form-group">
              <label for="exampleInputEmail1" class="hidden">Your Name (required)</label>
              <input type="text" class="form-control floating-label input-lg" id="contact-form-name" placeholder="Name" disabled>
            </div>

              <!--<input type="text" class="form-control floating-label" placeholder="floating label">-->
              <!--<textarea class="form-control floating-label" placeholder="textarea floating label"></textarea>-->

            <div class="form-group">
              <label for="exampleInputEmail1" class="hidden">Your Email (required)</label>
              <input type="text" class="form-control floating-label input-lg" id="contact-form-email" placeholder="Email" disabled>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1" class="hidden">Subject</label>
              <input type="text" class="form-control floating-label input-lg" id="contact-form-subject" placeholder="Subject" disabled>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1" class="hidden">Message</label>
              <textarea class="form-control floating-label input-lg" id="contact-form-message" placeholder="Message" style="resize:vertical;" disabled></textarea>
            </div>




            <button type="submit" class="btn btn-primary disabled" disabled >Submit</button>
          </form>




        </div>
      </div>
    </div>
  </div>

  <div class="footer-padder">
    <%= render partial: 'shared/footer' %>
  </div>

</div>
