<div class="project-view">

  <br />
  <h1><%= @project["heading"] %>
      <small>

        <% @project["links"].each do |link| %>
        <div style="display:inline-block;padding:0px 10px;">
          <a href="<%= link["url"] %>" target="_blank" class="text-muted" style="text-decoration:none;">
          <span class="fa fa-external-link" style="font-size:0.8em;"></span>
            <%= link["name"] %>
          </a>
        </div>
        <% end %>

      </small>
  </h1>

  <div class="row">
    <div class="col-md-6">
      <%= @markdown.render(@project["about"]).html_safe %>
        <div class="text-center">
          <div class="row row-centered">
            <% @project["badges"].each do |badge| %>


                <div class="col-sm-6 col-md-4 col-lg-3 col-centered project-badge-column">
                  <div class="text-center">
                    <div class="box-shadow-primary project-badge">
                      <div class="<%= badge["icon"] %>"></div>
                    </div>
                    <h3><%= badge["name"] %></h3>
                    <p><%= badge["description"] %></p>
                  </div>
                </div>

            <% end %>
          </div>
        </div>
    </div>

    <div class="col-md-6">






      <div id="project-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @project["images"]["carousel"].each_with_index do |image, index| %>
            <li data-target="#project-carousel" data-slide-to="<%= index %>" class="<%= index==0? "active" : "" %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


          <% @project["images"]["carousel"].each_with_index do |image, index| %>
            <div class="item <%= index==0? "active" : "" %>">
              <%= image_tag image["src"], style:"width:100%;max-height:375px;" %>
              <div class="carousel-caption">
                <div class="description">

                    <%= @markdown.render(image["description"]).html_safe %>

                </div>
              </div>
            </div>
          <% end %>


        </div>

        <!-- Controls -->
        <a style="background:none;" class="left carousel-control" onclick="$(this).closest('.carousel').carousel('prev');" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left text-muted" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a style="background:none;" class="right carousel-control" onclick="$(this).closest('.carousel').carousel('next');" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right text-muted" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <%#
  <h2>Features</h2>
  <p>Find me in app/views/static_pages/projects.html.erb</p>
   %>


  <h2>Technology</h2>

  <div class="row">

    <div class="col-md-10 col-lg-8">
      <%= @markdown.render(@project["technology"]["description"]).html_safe %>
    </div>
    <div class="col-xs-12">

      <div class="row">
      </div>

      <div class="row">
        <% @project["technology"]["badges"].each do |badge| %>


          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 project-badge-column">
            <div class="text-center" style="padding-bottom:20px;padding-top:20px;">
              <div class="box-shadow-primary project-badge">
                <div class="<%= badge["icon"] %> fa-3x"></div>
              </div>
              <h3 style="margin-bottom:15px;"><span style="padding-bottom:2px;border-bottom:2px solid #ccc;"><%= badge["name"] %></span></h3>
              <p><%= @markdown.render(badge["description"]).html_safe %></p>
            </div>
          </div>



        <% end %>
      </div>

    </div>
  </div>



  <h2>My Achievements</h2>
  <div class="row">

    <div class="col-md-10 col-lg-8">
      <%= @markdown.render(@project["achievements"]["description"]).html_safe %>
    </div>
    <div class="col-xs-12">
          <div class="row">
            <% @project["achievements"]["badges"].each do |badge| %>


              <div class="col-xs-6 col-sm-4 col-md-3 project-badge-column">
                <div class="text-center" style="padding-bottom:20px;padding-top:20px;">
                  <div class="box-shadow-primary project-badge">
                    <div class="<%= badge["icon"] %> fa-3x"></div>
                  </div>
                  <h3 style="margin-bottom:15px;"><span style="padding-bottom:2px;border-bottom:2px solid #ccc;"><%= badge["name"] %></span></h3>
                  <p><%= @markdown.render(badge["description"]).html_safe %></p>
                </div>
              </div>



            <% end %>
          </div>

    </div>
  </div>

  <br />



    <div style="display:inline-block;padding:0px 10px;">
      <a href="/#projects" class="btn btn-default" style="text-decoration:none;">
      <span class="fa fa-reply" style="font-size:0.8em;"></span>
        back to projects
      </a>
    </div>
  <% @project["links"].each do |link| %>
    <div style="display:inline-block;padding:0px 10px;">
      <a href="<%= link["url"] %>" target="_blank" class="btn btn-primary" style="text-decoration:none;">
      <span class="fa fa-external-link" style="font-size:0.8em;"></span>
        <%= link["name"] %>
      </a>
    </div>
  <% end %>


</div>
