
<div id="site-loader">
	<div id="loader-box">
		<div class="spinner-icon">

			<div class="spincontainer line1">
				<div>
				</div>
			</div>

			<div class="spincontainer line2">
				<div>
				</div>
			</div>

			<div class="spincontainer line3">
				<div>
				</div>
			</div>

			<div class="spincontainer line4">
				<div>
				</div>
			</div>

		</div>
	</div>
</div>
