

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= current_page?(root_url) ? "#home" : "/" %>">
          <%= image_tag "infinicode-logo.png", class: "navbar-image" %>
          <span class="navbar-title">tableford</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">



      <% if current_page?(root_url)  %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
            <li><a href="#about">About Me</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#skills-experience">Skills & Experience</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      <% else %>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
            <li><a href="/#about">About Me</a></li>
          <li><a href="/#projects">Projects</a></li>
          <li><a href="/#skills-experience">Skills & Experience</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      <% end %>







    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<%= render partial: 'shared/loading' %>
