.project-view{


  #project-carousel{

    .item{
      .carousel-caption{
        .description{
          display:inline-block;
          @include border-radius(4px);
          padding:0px 15px;
          background-color:transparentize($gray-dark, 0.3);

          h2{
            margin-top:5px;
            margin-bottom:5px;
          }
        }
      }
    }

    .carousel-indicators li {
      background-color: $gray-dark;
      background-color: transparentize($gray-dark, 0.75);
      border-color:$gray-light;
    }

    .carousel-indicators .active {
      background-color: #444;
    }
  }

  .project-badge-column{
    vertical-align:top;

    .project-badge{
      height:82px;
      width:82px;
      display:inline-block;
      border-radius:50%;
      padding:20px;

    }

  }

}
