// material icons path
$material-font-path: "../fonts" !default;

// Material colors palette
$red: #F44336 !default;
$pink: #E91E63 !default;
$purple: #9C27B0 !default;
$deeppurple: #673AB7 !default;
$indigo: #3F51B5 !default;
$lightblue: #03A9F4 !default;
$cyan: #00BCD4 !default;
$teal: #009688 !default;
$lightgreen: #8BC34A !default;
$lime: #CDDC39 !default;
$lightyellow: #FFEB3B !default;
$orange: #FF9800 !default;
$deeporange: #FF5722 !default;
$grey: #9E9E9E !default;
$bluegrey: #607D8B !default;
$brown: #795548 !default;
$lightgrey: #ECECEC !default;

// Bootstrap shades
$primary: $brand-primary;
$success: $brand-success;
$info: $brand-info;
$warning: $brand-warning;
$danger: $brand-danger;

// Typography elements for Material
$darkbg-text: rgba(255,255,255,0.84);
$lightbg-text: rgba(0,0,0,0.84);
$icon-color: rgba(0,0,0,0.5);


// Bootstrap variables
$btn-default: #FFF;
$btn-default-text: $lightbg-text;

$btn-primary: $primary;
$btn-primary-text: $darkbg-text;

$btn-success: $success;
$btn-success-text: $darkbg-text;

$btn-info: $info;
$btn-info-text: $darkbg-text;

$btn-warning: $warning;
$btn-warning-text: $darkbg-text;

$btn-danger: $danger;
$btn-danger-text: $darkbg-text;

$input-unchecked: rgba(137, 137, 137, 0.3);
$input-checked: rgba(15, 157, 88, 0.3);

$radio-default: $lightbg-text;
$radio-primary: $primary;
$radio-success: $success;
$radio-info:    $info;
$radio-warning: $warning;
$radio-danger:  $danger;

$input-danger: $danger;
$input-default: $primary;
$input-warning: $warning;
$input-success: $success;
$input-info:    $info;

$navbar-danger-bg: $danger;
$navbar-inverse-bg: #5264AE;
$navbar-warning-bg: $warning;
$navbar-success-bg: $success;
$navbar-info-bg:    $info;
$navbar-default-bg: $primary;
$navbar-color: $darkbg-text;
$navbar-link-color: $darkbg-text;
$navbar-link-hover-color: $darkbg-text;
$navbar-link-hover-bg: transparent;
$navbar-link-active-color: $darkbg-text;
$navbar-link-active-bg: rgba(0,0,0,0.05);
$navbar-link-disabled-color: #E5E5E5;
$navbar-link-disabled-bg: transparent;
$navbar-brand-color: $darkbg-text;
$navbar-toggle-border-color: $darkbg-text;
$navbar-toggle-hover-bg: transparent;
$navbar-toggle-icon-bar-bg: $darkbg-text;
$navbar-border: $darkbg-text;

$alert-success: $success;
$alert-info: $info;
$alert-warning: $warning;
$alert-danger: $danger;

$progress-success: $success;
$progress-info: $info;
$progress-warning: $warning;
$progress-danger: $danger;
