// Material Theme 0.0.1
// -----------------------------------------------------

@import "_variables.scss";
@import "_mixins.scss";
@import "_shadows.scss";


// Buttons
@import "_buttons.scss";

// Checkboxes
@import "_checkboxes.scss";

// Radios
@import "_radios.scss";

// Text inputs
@import "_inputs.scss";

legend {
    border-bottom: 0;
}

.modal-content {
    @extend .shadow-z-2;
    border-radius: 0;
    border: 0;
    .modal-header {
        border-bottom: 0;
    }
    .modal-footer {
        border-top: 0;
        .btn+.btn {
            margin-bottom: 10px;
        }
    }
}


// Alerts
@import "_alerts.scss";

// Progress bar
@import "_progress.scss";

// Panels
@import "_cards.scss";

// Typography

