html{
  height:100%;
  body{
    background:#eee;
    height:100%;

    p{
      font-size:1.2em;
    }

    h1, h2, h3, h4, h5 {
    // font-family:"Monoglyceride", sans-serif !important;
    font-family:$sub-headings-custom-font;
    letter-spacing:0.02em;
    }

    nav a {
      font-size:1.5em;
      font-family:$sub-headings-custom-font;
      letter-spacing:0.02em;
    }



    .content-wrapper{
      background-color:#eee;

      textarea{
        max-width:100%;
      }

      &.wrapper-index{
        height:100%;
      }

      .container-root{
        background-color:#314C67;
        height:100%;
      }
      .container-main{
        margin-top:$navbar-height;
      }
    }
    .footer-padder{
      padding-top:80px;
    }
  }
}


//media query for xs
/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
    .row-centered{
      text-align:center;
      .col-centered{
        display:inline-block;
        float:none;
        text-align:left;
        margin-right:-4px;
      }
    }

	}



.hidden-initially{
  opacity:1;
}
.animate-on-vis.hidden-initially{
  opacity:0;
}




/* flip speed goes here */
.flipper {
  @include transition-duration(0.6s);
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}







//standard animation duration
.animate-duration-xs{
  -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
  animation-duration: 0.25s;
}
.animate-duration-sm{
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-duration: 0.5s;
}
.animate-duration-md{
  -webkit-animation-duration: 0.75s; /* Chrome, Safari, Opera */
  animation-duration: 0.75s;
}
.animate-duration-lg{
  @include animation-duration(1s);
}


//css animation delays
.animate-delay-xs{
  -webkit-animation-delay: 0.25s; /* Chrome, Safari, Opera */
  animation-delay: 0.25s;
}
.animate-delay-sm{
  -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
  animation-delay: 0.5s;
}
.animate-delay-md{
  -webkit-animation-delay: 0.75s; /* Chrome, Safari, Opera */
  animation-delay: 0.75s;
}
.animate-delay-lg{
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
  animation-delay: 1s;
}


//css animation flashing cursor

.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}





.box-shadow{
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.5);
}
.box-shadow-light{
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.25);
}
.box-shadow-lighter-lg{
  -webkit-box-shadow: 0px 5px 11px 0px $gray-lighter;
  -moz-box-shadow: 0px 5px 11px 0px $gray-lighter;
  box-shadow: 0px 5px 11px 0px $gray-lighter;
}

.box-shadow-primary{
  -webkit-box-shadow: 0px 5px 11px 0px transparentize($brand-primary, 0.5);
  -moz-box-shadow: 0px 5px 11px 0px transparentize($brand-primary, 0.5);
  box-shadow: 0px 5px 11px 0px transparentize($brand-primary, 0.5);
}

.box-shadow-info{
  -webkit-box-shadow: 0px 5px 11px 0px transparentize(darken($brand-info, 20), 0.5);
  -moz-box-shadow: 0px 5px 11px 0px transparentize(darken($brand-info, 20), 0.5);
  box-shadow: 0px 5px 11px 0px transparentize(darken($brand-info, 20), 0.5);
}
.box-shadow-muted{
  -webkit-box-shadow: 0px 5px 11px 0px transparentize($gray-light, 0.5);
  -moz-box-shadow: 0px 5px 11px 0px transparentize($gray-light, 0.5);
  box-shadow: 0px 5px 11px 0px transparentize($gray-light, 0.5);
}

.text-shadow-info{
    text-shadow: 0px 1px 4px transparentize(darken($brand-info, 20), 0.5);
}
.text-shadow-primary{
    text-shadow: 0px 1px 4px transparentize(darken($brand-primary, 20), 0.5);
}
.text-shadow-muted{
    text-shadow: 0px 1px 4px transparentize(darken($gray-light, 20), 0.5);
}

.text-shadow-whitewash{
    text-shadow: 0px 0px 12px white;
}



nav{
  border:transparent!important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  font-weight:600;

  li, li a{
    @extend .animated;
    font-weight:normal;
  }

  .navbar-brand{
    position:relative;
    //font-family:$heading-custom-font;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .navbar-title{
      line-height:50px;
    }
  }

  .navbar-image {
    display:inline-block;
    padding:8px;
    padding-top:0px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
}


nav.navbar-default{
}

nav.navbar-default{

  @extend .box-shadow;

  .navbar-brand{
    padding:0;

    .navbar-title{

      //line-height:1.4em;
      font-size:1.5em;
      font-weight:normal;
      //position:relative;
      //opacity:1;
      @extend .animated;
      @extend .fadeInRight;
    }
  }

  .navbar-image {
    position:relative;
    padding-right:0;
    max-height:$navbar-height - 10px;
  }

}



nav.navbar-inverse{
  li{
  padding-top:10px;padding-bottom:10px;
  }

  .navbar-brand{

    .navbar-title{
      opacity:0
    }
  }
  .navbar-image {
    max-height:75px;
    position:absolute;
    left:0;top:8px;
  }
}



.nav-link{
  color:$navbar-default-link-color;
}
.nav-link:visited{
    color:$navbar-default-link-color;
}
.nav-link:hover{
  color:$navbar-default-link-hover-color;
}
.nav-link:active{
  color:$navbar-default-link-active-color;
}


.btn-navbar{
  color:$navbar-default-link-color;
  border-color:$navbar-default-link-color;
}

.btn-navbar:visited{

      color:$navbar-default-link-color;
      border-color:$navbar-default-link-color;
}
.btn-navbar:hover{

      color:$navbar-default-link-hover-color;
      border-color:$navbar-default-link-hover-color;
}
.btn-navbar:active{

        color:$navbar-default-link-active-color;
        border-color:$navbar-default-link-active-color;
}







.footer-padder {
  background-color:#eeeeee!important;
  .footer-wrapper{
    background-color:$brand-primary!important;
    .footer-container {
      min-height:30px;

    }
  }
}
