
//Monoglyceride
@font-face {
 font-family: 'Monoglyceride';
 src: url(asset-path('monoglyceride/Monoglyceride.ttf'));
 src: url(asset-path("monoglyceride/Monoglyceride.ttf")) format("truetype");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Monoglyceride';
 src: url(asset-path('monoglyceride/MonoglycerideBold.ttf'));
 src: url(asset-path("monoglyceride/MonoglycerideBold.ttf")) format("truetype");
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'Monoglyceride';
 src: url(asset-path('monoglyceride/MonoglycerideDemiBold.ttf'));
 src: url(asset-path("monoglyceride/MonoglycerideDemiBold.ttf")) format("truetype");
 font-weight: 600;
 font-style: normal;
}

@font-face {
 font-family: 'Monoglyceride';
 src: url(asset-path('monoglyceride/MonoglycerideExtraBold.ttf'));
 src: url(asset-path("monoglyceride/MonoglycerideExtraBold.ttf")) format("truetype");
 font-weight: 800;
 font-style: normal;
}




//Nova Mono
@font-face {
 font-family: 'Nova Mono';
 src: url(asset-path('nova_mono/NovaMono.ttf'));
 src: url(asset-path("nova_mono/NovaMono.ttf")) format("truetype");
 font-weight: 800;
 font-style: normal;
}



//sin city
@font-face {
 font-family: 'Sin City';
 src: url(asset-path('sin_city/SinCity.ttf'));
 src: url(asset-path("sin_city/SinCity.ttf")) format("truetype");
}

//starlight
@font-face {
 font-family: 'Starlight';
 src: url(asset-path('starlight/Starlight.ttf'));
 src: url(asset-path("starlight/Starlight.ttf")) format("truetype");
}



//Markus ink
@font-face {
 font-family: 'Markus Ink';
 src: url(asset-path('markus-ink/MarkusInk.ttf'));
 src: url(asset-path("markus-ink/MarkusInk.ttf")) format("truetype");
}


//Blanch
@font-face {
 font-family: 'Blanch';
 src: url(asset-path('Blanch/BLANCH_CAPS.otf'));
 src: url(asset-path("Blanch/BLANCH_CAPS.otf")) format("opentype");
}
//Origram
@font-face {
 font-family: 'Origram';
 src: url(asset-path('Origram/Origram.otf'));
 src: url(asset-path("Origram/Origram.otf")) format("opentype");
}

//Ridge
@font-face {
 font-family: 'Ridge';
 src: url(asset-path('Ridge/Ridge-Regular.otf'));
 src: url(asset-path("Ridge/Ridge-Regular.otf")) format("opentype");
}
