.index-hero-padder{
  height:100%;
}


.nav-link{
  color:$navbar-default-link-color;
}
.nav-link:visited{
    color:$navbar-default-link-color;
}
.nav-link:hover{
  color:$navbar-default-link-hover-color;
}
.nav-link:active{
  color:$navbar-default-link-active-color;
}

.btn-transparent{
background:transparent!important;
border:2px solid $navbar-default-link-color;

  border-radius:4em;

  @extend .btn-default;
}


.btn-navbar{
  color:$navbar-default-link-color;
  border-color:$navbar-default-link-color;
}

.btn-navbar:visited{

      color:$navbar-default-link-color;
      border-color:$navbar-default-link-color;
}
.btn-navbar:hover{

      color:$navbar-default-link-hover-color;
      border-color:$navbar-default-link-hover-color;
}
.btn-navbar:active{

        color:$navbar-default-link-active-color;
        border-color:$navbar-default-link-active-color;
}

//HACK
.btn-transparent.btn-navbar{
    background-color:$brand-primary!important;
}








.index-hero{
  z-index:1;
  overflow:hidden;
  position:relative;

  //background-color:rgba(59, 84, 110, 0.81);

  background:url(asset-path('hero-bg-3.jpg'));
  background-size:cover;
  background-repeat: no-repeat;
  background-position-x:50%;


  padding-top:($navbar-height + $navbar-margin-bottom);
  height:100%;

  .index-hero-center{


    position: absolute;
    top: 50%;
    left:0;right:0;
    transform: translateY(-50%);
    @extend .text-center;

    #title-heading{
      letter-spacing:0.1em;
      line-height:2em;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
        font-family: $heading-custom-font;
    }
    #title-subheading {
      //font-family:$font-family-monospace;
    }
  }

  .heading{

	  //font-family: Terminal Dosis, sans-serif;
    color:$gray-lighter;
    padding-left:8px;padding-right:8px;

    h1{
      //letter-spacing:-2px;
    }
    h2{
      //letter-spacing:-1px;
    }
  }
}


.index-content{
  height:100%;
  z-index:10;
  > div{
    background-color:$body-bg;
  }
  p{
    text-align:justify;
  }
  h2{
    font-weight:600;
  }
  p{
    font-size:1.2em;
  }

  .underline{

    line-height:1.3em;
    border-bottom:2px solid;
  }

  .about{

    border-top:4px solid #3F4142;
    padding-top:10px;padding-bottom:10px;
    background-color: #C2E5E1;
    overflow:hidden;


    .badges{
      h3{
        font-size:2em;
        font-weight:600;
      }
    }

    .about-badge{
      padding:10px;
      display:inline-block;
      border-radius:3em;
      background-color:transparentize($body-bg, 0.8);

      &.badge-primary{
        border-color:$brand-primary;
      }
      &.badge-info{
        border-color:$brand-info;
      }
      &.badge-muted{
        border-color:$gray-light;
      }
    }

    .image-holder{
      margin:-20px;
      margin-top:40px;
      text-align:center;

      /* Medium Devices, Desktops */
    	@media only screen and (min-width : 992px){
        margin-right:-200px;
    	}



      .image-content{
        margin-top:50px;
        max-width:100%;
      }
    }
  }

  .projects{
    color:$gray-dark;
    padding-bottom:40px;
    padding-top:30px;
    background-color:$gray-lighter;
    overflow:hidden;

    h2{
      margin-bottom:30px;
      text-align:center;
      //padding-bottom:4px;
        @extend .underline;
    }
/*
    .project-card:hover{
      @extend .box-shadow;
      cursor:pointer;

      .project-title{
        transition: all 0.25s linear;
        padding-top:5px;
        padding-bottom:15px;
      }

      .project-tagline{
      opacity:1;
        @extend .animated;
        @extend .fadeInUp;
      }
    }*/










      .project-card-flip.hover {
        .flipper{
            transform: rotateY(180deg);
        }
        .front{
          .project-title{

              transition: 0.5s linear;
            padding-bottom:1000px;
            opacity:0;
          }
        }
        .flip-card-back{
          opacity:1!important;
        }
      }


    //@media (hover: hover) {
      .project-card-flip:hover{
        .flipper{
    		    transform: rotateY(180deg);
        }
        .front{
          background:none;
          .project-title{
              opacity:0;
              transition: 0.5s linear;
              padding-bottom:1000px;
              opacity:0;
          }
        }
      }
  //  }

    $card-min-height: 400px;

    .project-card-flip {
    	perspective: 1000;

    	min-height:$card-min-height;
      max-height:$card-min-height;

      width:100%;
      margin-bottom:20px;


      @media (hover: hover) {
        .flip-card-back{
          opacity:0;
        }
      }

                  &.investorist{
                    .front{
                      //background-color:#EE9626;
                      background: url(asset-path("investorist-hero-2.jpg"));
                      background-size:cover;
                      background-position:right;
                      background-repeat:no-repeat;
                      .project-title{
                        border-bottom:1px solid darken(#EE9626, 20);
                        background:transparentize(#EE9626, 0);
                      }
                    }
                    .back{
                    }

                  }
                  &.spekit .front{
                      //background-color:#EE9626;
                      background: url(asset-path("birk-hero.jpg"));
                      background-size:cover;
                      background-position:left;
                      background-repeat:no-repeat;

                      .project-title{
                      //  border-bottom:1px solid darken(#EE9626, 20);
                      //  background:transparentize(#EE9626, 0);
                      }
                  }
                  &.reverseasy .front{

                    background-color:#4A1141;
                    background: url(asset-path("reverseasy-hero.png"));
                    background-size:cover;
                    background-position:center;
                    background-repeat:no-repeat;
                    .project-title{
                      border-bottom:1px solid darken(#4A1141, 20);
                      background:transparentize(#4A1141, 0);
                    }

                  }
















      .front, .back{

        @extend .well;
      	min-height:$card-min-height;
      	max-height:$card-min-height;
        width:100%;

              overflow:hidden;
      }
      .front{
        h3{
          font-weight:600;
        }
        .project-title{

          border-bottom:2px solid $gray-darker;
          background:transparentize($gray-darker, 0.15);

          font-weight:600;
          color:$gray-lighter;
          margin:-24px -19px 0px -19px;
          padding-bottom:5px;

        }

      }
      .back{
        background-color:whitesmoke;
        @extend .box-shadow-light;

          .flip-card-back.btn-transparent{
            //@extend .visible-xs;
            opacity:0;

            border-color:lighten(rgb(51, 51, 51), 50);
            color:lighten(rgb(51, 51, 51), 50);

            position:absolute;
            bottom:10px;right:10px;
          }

        h3{
          margin-top:-24px;
          //margin:-24px -19px 0px -19px;
        }
        .read-more{
                    position:absolute;
                    padding:10px;
                    bottom:0;left:0;right:0;

                    background: rgba(255,255,255,0);
                    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0.56)), color-stop(83%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );



        }
        .btn-transparent{
          border-color:rgb(51, 51, 51);
          color:rgb(51, 51, 51);
          &:hover{
            @extend .animated;
            @extend .pulse;
            background-color:transparentize(white, 0.5)!important;
            //background:red!important;
          }
        }
        p{
          text-align:left;
        }
      }


    }
  }
  $skills-experience-bg: darken($gray-lighter, 5);
  .skills-experience{
    overflow:hidden;
    position:relative;
    background-color:$skills-experience-bg;

      @import "home-timeline.scss";

  }

  .contact{
    min-height:80%;
    background-color:$gray-lighter;

    h2{
      margin-bottom:40px;
    }

    .contact-quote{
      margin-left:20px;
      padding-left:40px;
      padding-bottom:40px;
      position:relative;







      .quote-box{
          position:relative;
          margin-bottom:40px;
        @extend .well;

        padding-left:40px;
        padding-right:40px;
        padding-bottom:50px;
        margin-bottom:90px;


        &::before{
          content: "\f10d";
          @extend .text-muted;
          @extend .fa;
          font-size:2em;

          position:absolute;
          top:4px;
          left:4px;
        }
        &::after{
          content: "\f10e";
          @extend .text-muted;
          @extend .fa;
          font-size:2em;

          position:absolute;
          bottom:4px;
          right:4px;
        }



      }
      img{
        position:absolute;
        left:0;bottom:65px;
      }

    }
  }


}
