

$skills-experience-bg: darken($gray-lighter, 5);

$timeline-entry-border: #777777;
$pipe-right-color: #9BD5B3;
$pipe-left-color: #A1C4E0;


.skills-experience{
  overflow:hidden;
  position:relative;
  background-color:$skills-experience-bg;

  .timeline-start{
    margin-bottom:0px;
    margin-top:0px;
    padding-top:10px;
    background-color:$skills-experience-bg;
    //line-height:50px;

    padding:15px;
    border:transparent;
    border-right:1px solid $pipe-right-color;
    border-left:1px solid $pipe-left-color;

    @extend .box-shadow-muted;
  }


  @media only screen and (max-width : 480px){
    .timeline-start{
      position:absolute;
      left:0;top:0;border-left:0;
    }
    .timeline-row{
      margin-left:20px!important;

      .timeline-badge{
        margin-right:-10px!important;
        z-index:1;
      }
    }
  }



  .timeline {
    //overflow:hidden;
    padding-top:40px;
    .timeline-row{

      position:relative;

      .timeline-entry-heading{
        @extend .text-primary;
      }


      &.timeline-row-active.timeline-right,
      &.timeline-row-active.timeline-left{
        .timeline-entry{
          @extend .box-shadow-primary;
          border-color:$pipe-left-color;
          ul{
            font-size:1.1em;
          }
        }
      }

      &.timeline-right,
      &.timeline-left{
              margin-left:49px;
        .timeline-entry-date{
          @extend .visible-xs;
          @extend .visible-sm;
          @extend .text-muted;
          text-align:left;

        }
        .timeline-entry-date-alt{

          @extend .hidden-xs;
          @extend .hidden-sm;
          @extend .text-muted;
          @extend .box-shadow-primary;
          position:absolute;top:4px;

          right:115%;

          border-radius:1.1em;
          margin-top:14px;
          h2{
            margin:0;
            padding:5px;
            padding-left:10px;
            padding-right:10px;
          }
        }
        .timeline-badge{
          background:$skills-experience-bg;
          width:80px;
          height:80px;
          line-height:80px;
          border:0px solid #3E5871;
          border-radius:50%;
          position:absolute;
          right:100%;
          top:40%;
          display:inline-block;
          padding:10px;
          margin-right:24px;
        }
        .timeline-entry{
          @extend .well;
          @include single-transition(border-color, 0.2s, linear);

          box-shadow:none;
            background:$skills-experience-bg;
          border:0px solid $timeline-entry-border;

          border-left-width:10px;


        }
      }


      /* Medium Devices, Desktops */
      @media only screen and (min-width : 992px){

            &.timeline-row-active.timeline-left{
              .timeline-entry{
                border-color:$pipe-right-color;
              }
            }
            &.timeline-left{
              margin-left:0px;
              margin-right:49px;

                .timeline-entry-date-alt{
                  right:initial;
                  left:115%!important;
                }
                .timeline-entry-date{
                  text-align:right;
                }
              //make padding on right insted of left
              .timeline-badge{
                left:100%;
                margin-right:0px;
                margin-left:24px;

              }
              .timeline-entry{
              border:0px solid $timeline-entry-border;
                border-right-width:10px;
              }
            }
      }


    }

  }




  div.visual-container {
    position: absolute;left:0;right:0;min-height:900px;;
  }
  @media only screen and (max-width : 480px){
    div.visual-container {
      left:initial;
      right:49%;
      width:100%;
    }
  }

  svg.paralax {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height:100%;width:100%;
    margin: 0 auto;
    z-index: 0;
    overflow: visible;
    path, polyline {
      fill: none;
      stroke-dasharray: 9000px;
      stroke-dashoffset: 9000px;
      animation-delay:1.5s;
      //transition: 5s stroke-dashoffset ease-in;
      &.left{
        @include single-transition(all, 5s, stroke-dashoffset, ease-in);
      }
      &.middle{
        @include single-transition(all, 4s, stroke-dashoffset, ease-in);
      }
      &.right{
        @include single-transition(all, 6s, stroke-dashoffset, ease-in);
      }
    }
    &.on {
      path, polyline {
      stroke-dashoffset: 0;
      }
    }
  }

  // For Internet Explorer
  html[data-useragent*='Trident'] {
    svg.paralax {
      path, polyline {
        stroke-dashoffset: 0;
        transition:none;
      }
    }
  }

}
