
  .projects{
    color:$gray-dark;
    padding-bottom:40px;
    padding-top:30px;
    background-color:$gray-lighter;
    overflow:hidden;

    h2{
      margin-bottom:30px;
      text-align:center;
      //padding-bottom:4px;
        @extend .underline;
    }

      .project-card-flip.hover {
        .flipper{
            transform: rotateY(180deg);
        }
        .front{
          .project-title{

              transition: 0.5s linear;
            padding-bottom:1000px;
            opacity:0;
          }
        }
        .flip-card-back{
          opacity:1!important;
        }
      }


    //@media (hover: hover) {
      .project-card-flip:hover{
        .flipper{
    		    transform: rotateY(180deg);
        }
        .front{
          background:none;
          .project-title{
              opacity:0;
              transition: 0.5s linear;
              padding-bottom:1000px;
              opacity:0;
          }
        }
      }
  //  }

    $card-min-height: 400px;

    .project-card-flip {
    	perspective: 1000;

    	min-height:$card-min-height;
      max-height:$card-min-height;

      width:100%;
      margin-bottom:20px;


      @media (hover: hover) {
        .flip-card-back{
          opacity:0;
        }
      }

                  &.investorist{
                    .front{
                      //background-color:#EE9626;
                      background: url(asset-path("investorist-hero-2.jpg"));
                      background-size:cover;
                      background-position:right;
                      background-repeat:no-repeat;
                      .project-title{
                        border-bottom:1px solid darken(#EE9626, 20);
                        background:transparentize(#EE9626, 0);
                      }
                    }
                    .back{
                    }

                  }
                  &.spekit .front{
                      //background-color:#EE9626;
                      background: url(asset-path("birk-hero.jpg"));
                      background-size:cover;
                      background-position:left;
                      background-repeat:no-repeat;

                      .project-title{
                      //  border-bottom:1px solid darken(#EE9626, 20);
                      //  background:transparentize(#EE9626, 0);
                      }
                  }
                  &.reverseasy .front{

                    background-color:#4A1141;
                    background: url(asset-path("reverseasy-hero.png"));
                    background-size:cover;
                    background-position:center;
                    background-repeat:no-repeat;
                    .project-title{
                      border-bottom:1px solid darken(#4A1141, 20);
                      background:transparentize(#4A1141, 0);
                    }

                  }
















      .front, .back{

        @extend .well;
      	min-height:$card-min-height;
      	max-height:$card-min-height;
        width:100%;

              overflow:hidden;
      }
      .front{
        h3{
          font-weight:600;
        }
        .project-title{

          border-bottom:2px solid $gray-darker;
          background:transparentize($gray-darker, 0.15);

          font-weight:600;
          color:$gray-lighter;
          margin:-24px -19px 0px -19px;
          padding-bottom:5px;

        }

      }
      .back{
        background-color:whitesmoke;
        @extend .box-shadow-light;

          .flip-card-back.btn-transparent{
            //@extend .visible-xs;
            opacity:0;

            border-color:lighten(rgb(51, 51, 51), 50);
            color:lighten(rgb(51, 51, 51), 50);

            position:absolute;
            bottom:10px;right:10px;
          }

        h3{
          margin-top:-24px;
          //margin:-24px -19px 0px -19px;
        }
        .read-more{
                    position:absolute;
                    padding:10px;
                    bottom:0;left:0;right:0;

                    background: rgba(255,255,255,0);
                    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0.56)), color-stop(83%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.56) 30%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );



        }
        .btn-transparent{
          border-color:rgb(51, 51, 51);
          color:rgb(51, 51, 51);
          &:hover{
            @extend .animated;
            @extend .pulse;
            background-color:transparentize(white, 0.5)!important;
            //background:red!important;
          }
        }
        p{
          text-align:left;
        }
      }


    }




  }
