

.index-hero{
  z-index:1;
  overflow:hidden;
  position:relative;

  //background-color:rgba(59, 84, 110, 0.81);

  background:url(asset-path('hero-bg-3.jpg'));
  background-size:cover;
  background-repeat: no-repeat;
  background-position-x:50%;


  padding-top:($navbar-height + $navbar-margin-bottom);
  height:100%;

  .index-hero-center{


    position: absolute;
    top: 50%;
    left:0;right:0;
    transform: translateY(-50%);
    @extend .text-center;

    #title-heading{
      letter-spacing:0.1em;
      line-height:2em;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
        font-family: $heading-custom-font;
    }
    #title-subheading {
      //font-family:$font-family-monospace;
    }
  }

  .heading{

	  //font-family: Terminal Dosis, sans-serif;
    color:$gray-lighter;
    padding-left:8px;padding-right:8px;

    h1{
      //letter-spacing:-2px;
    }
    h2{
      //letter-spacing:-1px;
    }
  }
}
