.index-hero-padder{
  height:100%;
}


.btn-transparent{
background:transparent!important;
border:2px solid $navbar-default-link-color;

  border-radius:4em;

  @extend .btn-default;
}


//HACK
.btn-transparent.btn-navbar{
    background-color:$brand-primary!important;
}






@import "home-hero.scss";


.index-content{
  height:100%;
  z-index:10;
  > div{
    background-color:$body-bg;
  }
  h2{
    font-weight:600;
  }

  .underline{

    line-height:1.3em;
    border-bottom:2px solid;
  }

  @import "home-about.scss";

  @import "home-projects.scss";


  @import "home-timeline.scss";

  @import "home-contact.scss";


}
