
  .about{

    border-top:4px solid #3F4142;
    padding-top:10px;padding-bottom:10px;
    background-color: #DEDEDE;
    overflow:hidden;
    p{
      text-align:justify;
    }


    .badges{
      h3{
        font-size:2em;
        font-weight:600;
      }
    }

    .about-badge{
      padding:10px;
      display:inline-block;
      border-radius:3em;
      background-color:transparentize($body-bg, 0.8);

      &.badge-primary{
        border-color:$brand-primary;
      }
      &.badge-info{
        border-color:$brand-info;
      }
      &.badge-muted{
        border-color:$gray-light;
      }
    }

    .image-holder{
      margin:-20px;
      text-align:center;

      /* Medium Devices, Desktops */
    	@media only screen and (min-width : 992px){
        margin-right:-200px;
    	}



      .image-content{
        margin-top:50px;
        max-width:100%;
      }
    }
  }
