
.contact{
    min-height:80%;
    background-color:$gray-lighter;

    h2{
      margin-bottom:40px;
    }

    .contact-quote{
      margin-left:20px;
      padding-left:40px;
      padding-bottom:40px;
      position:relative;







      .quote-box{
          position:relative;
          margin-bottom:40px;

        @extend .well;

        padding-left:40px;
        padding-right:40px;
        padding-bottom:50px;
        margin-bottom:90px;


        &::before{
          content: "\f10d";
          @extend .text-muted;
          @extend .fa;
          font-size:2em;

          position:absolute;
          top:4px;
          left:4px;
        }
        &::after{
          content: "\f10e";
          @extend .text-muted;
          @extend .fa;
          font-size:2em;

          position:absolute;
          bottom:4px;
          right:4px;
        }



      }

      img{
        position:absolute;
        left:0;bottom:65px;
      }

      .contact-button-holder{
        position:absolute;right:0;left:130px;bottom:65px;text-align:center;
        .contact-button{
          display:inline-block;
          border-radius:50%;
          background-color:#eee;
          padding:20px;
          .contact-button-logo{
            display:inline-block;width:42px;height:42px;
          }
        }
      }

    }

  	@media only screen and (max-width : 768px){
      .contact-quote{
        margin-left:0px;
        padding-left:0;
      }
//  	}
//    @media only screen and (max-width : 320px){
      .contact-button-holder{
        text-align:right!important;
        bottom:30px!important;
        bottom:10px!important;
        left:0px!important;
      }
    }



  }
