<!DOCTYPE html>
<html>
<head>
<%= render partial: 'shared/header' %>
</head>
<body>

  <% if Rails.env.production? %>

    <script type="text/javascript">
      ga('set', 'location', location.href.split('#')[0]);
      ga('send', 'pageview', { "title": document.title });
    </script>

  <% end %>


  <div style="position:fixed;top:0;left:0;bottom:0;right:0;font-size:80px;z-index:-1;text-align:center;">

  </div>

<%= render partial: 'shared/navbar' %>


  <% if current_page?(root_url)  %>
  <div class="content-wrapper wrapper-index">
    <div class="container-root" id="home">
      <%= yield %>
    </div>
  </div>
  <% else %>
  <div class="content-wrapper">
    <div class="container container-main" id="container-main">
      <%= yield %>
    </div>
  </div>
  <% end %>

<% if !current_page?(root_url)  %>
  <div class="footer-padder">
    <%= render partial: 'shared/footer' %>
  </div>
<% end %>

</body>
</html>
